<% if flash.any? %>
  <div class="flash-box">
  <script type="text/javascript">

      <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
      Swal.fire({
          html: "<%= value %>",
          icon: "<%= type %>",
          buttonsStyling: false,
          showConfirmButton: false,
          timer: 3000,
          customClass: {
              confirmButton: "btn btn-primary"
          }
      })
    <% end %></script>
  </div>
<% end %>
