<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm m-2 mb-sm-0">
        <%= link_to "Dashboard", root_path, class: "breadcrumb-link" %>/
        Edit Post(<%= @post.title %>)


        <h1 class="page-header-title text-center">Edit Post</h1>
      </div>
    </div>
  </div>

  <%= render 'form' %>

</div>